<div class="container">

  <%= render "form", game: @game %>

  <br/>

  <div class="row justify-content-center">
    <%= link_to "Retour à l'Accueil", root_path, class: "btn btn-secondary" %>
  </div>
</div>
